@import "../../styles.scss";

.wrapper {
  width: 669.961px;
  height: 729px;
  flex-shrink: 0;
  border-radius: 18.237px;
  background: linear-gradient(
    134deg,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(157, 157, 157, 0.2) 100%
  );
  backdrop-filter: blur(4.504402160644531px);
  color: #fff;
  font-family: Montserrat;
  font-size: 23.908px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 30%;
}
.screens {
  width: 554.841px;
  height: 95.23px;
  flex-shrink: 0;
}
.sections {
  display: flex;
  width: 552.519px;
  height: 95.23px;
  padding: 17.661px;
  justify-content: center;
  align-items: center;
  gap: 17.661px;
  flex-shrink: 0;
  border-radius: 39.778px;
  background: #f0f0f0;
}
.buttons {
  display: flex;
  width: 554.841px;
  height: 81.047px;
  justify-content: center;
  align-items: center;
  gap: 111.487px;
}
.button-1 {
  display: flex;
  width: 239.088px;
  height: 81.047px;
  padding: 16.113px;
  justify-content: center;
  align-items: center;
  gap: 16.113px;
  flex-shrink: 0;
  border-radius: 36.292px;
  border: #f0f0f0;

  color: #141414;
  font-family: Poppins;
  font-size: 24.314px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-2 {
  display: flex;
  width: 189.657px;
  height: 81.282px;
  padding: 16.113px;
  justify-content: center;
  align-items: center;
  gap: 16.113px;
  flex-shrink: 0;
  border-radius: 36.292px;
  border: #f0f0f0;
  background: #fff;
  color: #141414;
  font-family: Poppins;
  font-size: 24.314px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.groups {
  width: 474.877px;
  height: 584.118px;
  flex-shrink: 0;
  margin-left: 19%;
}
.groups-1 {
  width: 474.877px;
  height: 352.14px;
  flex-shrink: 0;
}
.amount {
  width: 222.096px;
  height: 124.199px;
  flex-shrink: 0;
}

.text {
  width: 102.539px;
  color: #fff;
  font-family: Montserrat;
  font-size: 23.908px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 18%;
}

.field-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}
.field-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: relative;
  // top: 10%;
  margin-top: -8%;
}
.select-box {
  width: 222.096px;
  height: 121.276px;
  flex-shrink: 0;
}
.compare {
  width: 460.265px;
  height: 70.136px;
  flex-shrink: 0;
  background: #0e98d0;
  color: #fff;
  font-family: Montserrat;
  font-size: 27.323px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
  margin-left: -5%;
  &:hover{
    background: #0e98d0;
  }
  &:focus{
    background: #0e98d0;
  }
}


.input-amount {
  display: flex;
  align-items: center;
  .prefix {
    font-weight: 300;
    color: #999;
    margin-left: 60px;
  }
  input {
    flex-grow: 1;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-weight: 600;
  }
  &:focus-within {
    background-color: white;
    outline: 2px solid rgb(153, 153, 245);
  }
}
